<!DOCTYPE html>
<html >
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Your Certificate for PadhegaIndia</title>
    
</head>

<body>
    
    <main>

        <label for="name">Type Your Name</label>
        <input required type="text" name="Name" autocomplete="name" placeholder="Accha Baccha" id="name" minlength="3"
            maxlength="16">
        <Button id="submitBtn">Get Certificate</Button>


    </main>
    <script src="https://unpkg.com/pdf-lib@1.4.0"></script>
    <script src="{% static 'admin\assets\cartificate/FileSaver.js' %}"></script>
    <script src="https://unpkg.com/@pdf-lib/fontkit@0.0.4"></script>
    <script src="{% static 'admin\assets\cartificate/index.js' %}"></script>
</body>

</html>