{% extends "base.html" %}
	{% block title %} Project | about {% endblock title %}
	{% load static %}
	{% block body %}
	<!--Section-->
    		<!--Section-->
            <section>
                <div class="sptb-2 bannerimg">
                    <div class="header-text mb-0">
                        <div class="container">
                            <div class="text-center text-white py-7">
                                <h1 class="">About Us</h1>
                                <ol class="breadcrumb text-center">
                                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                                    <li class="breadcrumb-item active text-white" aria-current="page">About Us</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </section><!--/Section-->
        </div>
    </div>

    <!-- Shape Start -->
    <div class="relative">
        <div class="shape overflow-hidden text-white">
            <svg viewBox="0 0 2880 48" fill="none" xmsns="http://www.w3.org/2000/svg">
                <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="#f5f4f9"></path>
            </svg>
        </div>
    </div>
    <!--Shape End-->

    <!--section-->
    <section class="sptb position-relative">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 text-center mb-5">
                    <h1 class="mb-4 font-weight-bold">About Edomi?</h1>
                    <p class="leading-normal lead-1">Majority have suffered alteration in some form, by injected humor</p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <p class="leading-normal  fs-16">There are many variations of passages of Lorem Ipsum available, but the majority have suffered  by injected humour, or randomised words which don't look even slightly believable.
                        If you are going to use a passage of Lorem Ipsum, you need to as necessary All the Lorem Ipsum generators on the Internet tend to repeat</p>
                    <p class="leading-normal  fs-16">There are many variations of passages of Lorem Ipsum available, but the majority have suffered  by injected humour, or randomised words which don't look even slightly believable.
                            If you are going to use a passage of Lorem Ipsum, you need to as necessary All the Lorem Ipsum generators on the Internet tend to repeat</p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="text-justify">
                        <p class="leading-normal fs-16">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                        <p class="leading-normal mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>
                <div class="aboutlink">
                    <a href="#sec1" class="">
                        <i class="fa fa-angle-double-down"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!--/section-->

    	<!--section-->
		<section class="sptb bg-white" id="sec1">
			<div class="container">
				<div class="section-title d-md-flex mb-5">
					<div>
						<h2>Why Only Edomi?</h2>
						<p class="fs-18 lead">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="mb-lg-0 mb-4 box-shadow about-2 p-5">
							<div class=" text-center">
								<div class="icon-bg icon-service about">
									<img src="{% static 'assets/images/png/about/employees-2.png' %} " alt="img">
								</div>
								<div class="servic-data mt-3">
									<h4 class="font-weight-semibold mb-2">Experience</h4>
									<p class="mb-0">Nam libero tempore, cum soluta nobis est eligendi cumque facere possimus</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="mb-lg-0 mb-4 box-shadow p-5 br-bl-10 about-2 br-tr-10 bg-primary">
							<div class="text-center">
								<div class=" icon-bg icon-service about bg-white br-100">
									<img src="{% static 'assets/images/png/about/user-2.png' %} " alt="img">
								</div>
								<div class="servic-data mt-3">
									<h4 class="font-weight-semibold mb-2 text-white">Professionality</h4>
									<p class="text-white mb-0">Nam libero tempore, cum soluta nobis est eligendi cumque facere possimus</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="mb-sm-0 mb-4 box-shadow about-2 p-5">
							<div class="text-center">
								<div class="icon-bg icon-service about">
									<img src="{% static 'assets/images/png/about/gurantee-2.png' %} " alt="img">
								</div>
								<div class="servic-data mt-3">
									<h4 class="font-weight-semibold mb-2">Guarantee</h4>
									<p class="mb-0">Nam libero tempore, cum soluta nobis est eligendi cumque facere possimus</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="mb-sm-0 mb-4 box-shadow about-2 p-5">
							<div class="text-center">
								<div class="icon-bg icon-service about">
									<img src="{% static 'assets/images/png/about/quality-2.png' %} " alt="img">
								</div>
								<div class="servic-data mt-3">
									<h4 class="font-weight-semibold mb-2">Quality</h4>
									<p class=" mb-0">Nam libero tempore, cum soluta nobis est eligendi cumque facere possimus</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section><!--/Section-->

		<!--Section-->
		<section>
			<div class="cover-image about-widget sptb bg-background-color" data-bs-image-src="{% static 'assets/images/banners/banner4.jpg' %}">
				<div class="content-text mb-0">
					<div class="container">
						<div class="text-center text-white ">
							<h2 class="mb-2 text-white font-weight-400">Join With Us Today To Achieve Ur Goals...</h2>
							<p class="lead">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
							<div class="mt-5">
								<a href="course-posts.html" class="btn btn-lg btn-secondary">Register Now!</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section><!--/Section-->

    {% endblock body %}