{% extends "base.html" %}
	{% block title %} Project  {% endblock title %}
	{% load static %}
	{% block body %}
	<!--Section-->
    <section>
        <div class="sptb-2 bannerimg">
            <div class="header-text mb-0">
                <div class="container">
                   

                    <div class="text-center text-white py-7">
                        <h1 class="">{{tasks.title}}  </h1>
                        
                    </div>
                </div>
            </div>
        </div>
    </section><!--/Section-->
</div>
</div>


		<!-- Shape Start -->
        <div class="relative">
            <div class="shape overflow-hidden text-white">
                <svg viewBox="0 0 2880 48" fill="none" xmsns="http://www.w3.org/2000/svg">
                    <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="#f5f4f9"></path>
                </svg>
            </div>
        </div>
        <!--Shape End-->
    
	<!--Section-->
    <section class="sptb">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 col-lg-8 col-md-12">
                    <!--Coursed lists-->
                    <div class=" mb-lg-0">
                        <div class="">
                            <div class="item2-gl">
                                <div class="mb-0">
                                    <div class="">
                                        <div class="p-5 bg-white item2-gl-nav d-flex">
                                            <div class="d-block">
                                                <h5 class="mb-0 mt-0">Showing 1 to 10 of 30 entries</h5>
                                                <label class="me-2 mt-3 mb-sm-1">Sort By:</label>
                                                <select name="item" class="form-control select2 w-70">
                                                    <option value="1">Latest</option>
                                                    <option value="2">Oldest</option>
                                                    <option value="3">Fees:Low-to-High</option>
                                                    <option value="5">Fees:Hight-to-Low</option>
                                                </select>
                                            </div>
                                            <ul class="nav item2-gl-menu ms-auto">
                                                <li class="border-end"><a href="#tab-11" class="active show" data-bs-toggle="tab" title="List style"><i class="fa fa-list"></i></a></li>
                                                <li><a href="#tab-12" data-bs-toggle="tab" class=" " title="Grid"><i class="fa fa-th"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-content item-list2">
                                    <div class="tab-pane active" id="tab-11">
                                        {% load days_counter %}
                                        {% for task in  tasks.addtask_set.all   %}
                                        {% if 0  < task.expdate|days_until  %}
                                        <div class="card overflow-hidden">
                                            <div class="d-md-flex">
                                                <div class="item-card9-img">
                                                    <div class="item-card9-imgs">
                                                        <a href="../project/{{task.slug}}"></a>
                                                        <img src="../studentProfile/{{task.image}}" alt="img" class="cover-image">
                                                    </div>
                                                    <div class="item-overly-trans">
                                                       
                                                    <a href="../project/{{task.slug}}" class="bg-primary">Left in {{task.expdate|days_until}} Days </a>
                                                    </div>
                                                </div>
                                                <div class="card border-0 mb-0">
                                                    <div class="card-body p-0">
                                                        <div class="item-card9 ps-5 pt-5">
                                                            <a href="../project/{{task.slug}}" class="text-default-dark"><h3 class=""> {{task.title}}</h3></a>
                                                            <p class="mb-0 mt-1 lead"> {{task.shortdis}} </p>
                                                             <div class="mt-2 mb-2">
                                                                <ul class="icon-card-1">
                                                                   <li class="me-3"><span class="fs-14"><i class="fa fa-users me-1"></i>{{task.bittask_set.all|length}} , Users Bit in this project  </span></li>
                                                                </ul>
                                                            </div>
                                                            <div>
                                                               
                                                            </div>
                                                        </div>
                                                        <div class="border-top ps-5 mt-2">
                                                            <h4 class="font-weight-semibold fs-20 text-dark mt-4 mb-4"><i class="fe fe-tag mt-0 fs-18 me-2"></i>৳ {{task.budget}}</h4>
                                                           
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}
                                        {% endfor %}
                                      
                                    </div>
                                    <div class="tab-pane" id="tab-12">
                                        <div class="row">
                                            {% for task in  tasks.addtask_set.all   %}
                                            {% if 0  <= task.expdate|days_until  %}
                                            <div class="col-lg-6 col-md-6 col-xl-6">
                                                <div class="card overflow-hidden">
                                                    <div class="item-card9-img">
                                                        <div class="item-card9-imgs">
                                                            <a href="../project/{{task.slug}}"></a>
                                                            <img src="../studentProfile/{{task.image}}" alt="img" class="cover-image w-100 " height='280'>
                                                        </div>
                                                        
                                                        <div class="item-overly-trans">
                                                            <a href="../project/{{task.slug}}" class="bg-primary">Left in {{task.expdate|days_until}} Days</a>
                                                        </div>
                                                    </div>
                                                    <div class="card-body pb-0">
                                                        <div class="item-card9">
                                                            <span class="item-card-badge"><i class="fa fa-users me-1"></i> 43, users bit this project</span>
                                                            <a href="../project/{{task.slug}}" class="text-default-dark mt-2"><h3 class="mt-2 mb-2">{{task.title}}</h3></a>
                                                            <p class="mb-0 h-8 overflow-hidden"> {{task.shortdis}} </p>
                                                        </div>
                                                        <div class="mt-2">
                                                            
                                                        </div>
                                                    </div>
                                                    <div class="border-top ps-5  mt-2">
                                                        <h4 class="font-weight-semibold fs-20 text-dark mt-4 mb-4"><i class="fe fe-tag mt-0 fs-18 me-2"></i>৳ {{task.budget}}</h4>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %}
                                        {% endfor %}
                                          
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="center-block text-center">
                                <ul class="pagination mb-5 mb-lg-0">
                                    <li class="page-item page-prev disabled">
                                        <a class="page-link" href="javascript:void(0)" tabindex="-1">Prev</a>
                                    </li>
                                    <li class="page-item active"><a class="page-link" href="javascript:void(0)">1</a></li>
                                   
                                    <li class="page-item page-next">
                                        <a class="page-link" href="javascript:void(0)">Next</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--/Coursed lists-->
                </div>

                <!--Right Side Content-->
                <div class="col-xl-3 col-lg-4 col-md-12">
                   
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title"> Categories</h3>
                        </div>
                        <div class="card-body">
                            <div class="list-catergory">
                                <div class="item-list">
                                    <ul class="list-group mb-0">
                                        {% for cat in allcat %}
                                        
                                        <li class="list-group-item pt-0">
                                            <a href="/categories/{{cat.slug}}" class="text-default-dark fs-14 font-weight-bold">
                                                <i class="fa fa-map-signs bg-primary-light text-primary"></i> {{cat.title}}
                                              
                                            </a>
                                        </li>
                                        {% endfor %}
                                     
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/Right Side Content-->
            </div>
        </div>
    </section><!--Section-->



    {% endblock body %}