{% extends "base.html" %}
	{% block title %} Project  {% endblock title %}
	{% load static %}
	{% block body %}
	<!--Section-->
    <section>
        <div class="sptb-2 bannerimg">
            <div class="header-text mb-0">
                <div class="container">
                    <div class="text-center text-white py-7">
                        <h1 class="">Add Profile info </h1>
                        <ol class="breadcrumb text-center">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Pages</a></li>
                            <li class="breadcrumb-item active text-white" aria-current="page">{{username}}</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/Section-->
</div>
</div>


		<!-- Shape Start -->
        <div class="relative">
            <div class="shape overflow-hidden text-white">
                <svg viewBox="0 0 2880 48" fill="none" xmsns="http://www.w3.org/2000/svg">
                    <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="#f5f4f9"></path>
                </svg>
            </div>
        </div>
        <!--Shape End-->
    

    <div class="container">
        <section class="sptb">
			<div class="container customerpage">
				<div class="row">
					<div class="col-lg-5 col-xl-5 col-md-6 d-block mx-auto">
						<div class="card">
							<div class="card-body p-6">
								<div class="mb-6">
									<h5 class="fs-25 font-weight-semibold">Basic profie Info</h5>
                                    {% for message in messages %}
                                    <p class="fs-16 mt-5 alert alert-{{ message.tags }}">{{ message }}</p>
                                    {% endfor %}
									
								</div>
								<div class="single-page customerpage">
									<div class="wrapper wrapper2 box-shadow-0">
										<form id="login" action="" enctype="multipart/form-data" method="post" class="" tabindex="500" >
										  {% csrf_token %}
                                          <div class="mail">
                                            <label>First Name</label>
                                            <input type="text" name="firstname">
                                          </div>
                                      
                                          <div class="mail">
                                            <label>lest Name</label>
                                            <input type="text" name="lestname">
                                          </div>

                                          <div class="mail">
                                            <label>Phone</label>
                                            <input type="text" name="phone">
                                          </div>
                                         

                                          <div class="mail">
                                            <label>location</label>
                                            <input type="text" name="location">
                                          </div>
                                         

                                          <div class="mail">
                                            <label>website</label>
                                            <input type="text" name="website">
                                          </div>
                                          <div class="mail">
                                            <label>Language </label>
                                            <input type="text" name="language" placeholder="Bangla , Engligh">
                                          </div>
                                         

                                          <div class="mail">
                                            <label>Bio</label>
                                            <textarea name="bio" id="" cols="20" rows="10"></textarea>
                                          </div>

                                          <div class="mail">
                                            <label>Profile pic</label>
                                            <input type="file" class="form-control" name="img" id="">
                                          </div>
											<div class="submit">
												<button class="btn btn-primary btn-block fs-16" type="submit">Save </button>
											</div>
											
										</form>
									</div>
								</div>
							</div>
						
						</div>
					</div>
				</div>
			</div>
		</section><!--/Login-Section-->
    </div>


    {% endblock body %}